@import
	url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
	;

@font-face {
	font-family: 'Raleway', sans-serif;
}

body {
	position:relative;
	display: block;
	/* background:
		url(http://www.businessnewsdaily.com/images/i/000/007/874/original/free-business-plan-templates.jpg);
	background-attachment: fixed;
	background-size: cover; */
	padding-top: 56px;
}
#container header h1{
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	line-height: 35px;
	letter-spacing: 4px;
	position: relative;
	color:#343A40;
    padding: 0px 0px 5px 0px;
	font-weight:600;
}
#container {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	min-height: 100%;
}
#container > header{
	padding: 20px 30px 10px 30px;
	margin: 50px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

.card-container.card {
	margin: 20px auto 50px auto;
	max-height:90%;
	max-width: 50%;
	padding: 40px 40px;
	opacity:0.95;
}

.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

/*
    * Card component
    */
.card {
	background-color: #F7F7F7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgb(104, 145, 162);
}

.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.btn.btn-join {
	/*background-color: #4d90fe; */
	background-color: rgb(104, 145, 162);
	/* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
}

.btn.btn-join:hover, .btn.btn-join:active, .btn.btn-join:focus {
	background-color: #ff0000000;
}

#check-button {
	margin-bottom: 3px;
	margin-left: 156px;
	background-color: #a5a5a5000;
}



p.errormsg{
	font-weight:bold; 
	color:#588891; 
	text-align:left; 
	padding:0;
	margin-top:-13px;
}


#question-mark{
	display:block;
}
#check-mark{
	display:none;
}

.form-group{
	margin-top:30px;
}
